#greasyfork-plus * {
  font-family: Open Sans, sans-serif, Segoe UI Emoji !important;
}

#greasyfork-plus .section_header {
  background-color: rgb(103, 0, 0) !important;
  background-image: linear-gradient(rgb(103, 0, 0), rgb(153, 0, 0)) !important;
  border: 1px solid transparent !important;
  color: rgb(255, 255, 255) !important;
}

#greasyfork-plus .config_var {
  display: flex !important;
}

#greasyfork-plus_milestoneNotification_var {
  flex-direction: column !important;
}

#greasyfork-plus_field_milestoneNotification {
  flex: 1 !important;
}
