#ratings-on-justwatch * {
  font-family: Lato, Lato-fallback, Arial, sans-serif !important;
}

#ratings-on-justwatch {
  background: rgb(18, 18, 18) !important;
}

#ratings-on-justwatch .section_header,
#ratings-on-justwatch .section_desc {
  background-color: rgb(251, 197, 0) !important;
  border: 1px solid transparent !important;
  color: rgb(0, 0, 0) !important;
}

#ratings-on-justwatch .config_var {
  display: flex !important;
}

#ratings-on-justwatch_field_OMDbApiKey {
  background: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  flex: 1 !important;
}

#ratings-on-justwatch input[type="button"],
#ratings-on-justwatch button {
  background: rgb(255, 255, 255) !important;
  border: 1px solid transparent !important;
  color: rgb(0, 0, 0) !important;
}

#ratings-on-justwatch input[type="button"]:hover,
#ratings-on-justwatch button:hover {
  filter: brightness(85%) !important;
}

#ratings-on-justwatch .reset {
  margin-right: 10px !important;
}
