#ratings-on-tmdb * {
  color: rgb(255, 255, 255) !important;
  font-family: Source Sans Pro, Arial, sans-serif !important;
  font-size: 12px;
}

#ratings-on-tmdb {
  background: rgb(18, 18, 18) !important;
}

#ratings-on-tmdb .section_header,
#ratings-on-tmdb .section_desc {
  background-color: rgb(3, 37, 65) !important;
  border: 1px solid transparent !important;
  color: rgb(255, 255, 255) !important;
}

#ratings-on-tmdb .config_var {
  display: flex !important;
}

#ratings-on-tmdb_field_TMDbApiKey,
#ratings-on-tmdb_field_OMDbApiKey {
  flex: 1 !important;
}

#ratings-on-tmdb input[type="button"],
#ratings-on-tmdb button {
  background: rgb(255, 255, 255) !important;
  border: 1px solid transparent !important;
  color: rgb(0, 0, 0) !important;
}

#ratings-on-tmdb input[type="button"]:hover,
#ratings-on-tmdb button:hover {
  filter: brightness(85%) !important;
}

#ratings-on-tmdb .reset {
  margin-right: 10px !important;
}
