#ratings-on-imdb * {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  color: rgb(0, 0, 0) !important;
}

#ratings-on-imdb {
  background-color: transparent !important;
  border: 1px solid transparent !important;
  box-sizing: border-box !important;
  height: auto !important;
  list-style-type: none !important;
  margin-bottom: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 0 !important;
  max-height: none !important;
  max-width: 1200px !important;
  padding: 0 1em 1em !important;
  position: static !important;
  width: auto !important;
}

#ratings-on-imdb .config_header {
  display: block !important;
  font-size: 1.5em !important;
  font-weight: bold !important;
  margin-bottom: 0.83em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0.83em !important;
}

#ratings-on-imdb .section_header {
  background-color: rgb(226, 182, 22) !important;
  background-image: none !important;
  border: 1px solid transparent !important;
}

#ratings-on-imdb .section_desc {
  background-color: transparent !important;
  border: 1px solid transparent !important;
}

#ratings-on-imdb .config_var {
  align-items: center !important;
  display: flex !important;
}

#ratings-on-imdb .field_label {
  font-size: 0.85em !important;
  font-weight: 600 !important;
  margin-left: 6px !important;
}

#ratings-on-imdb_field_OMDbApiKey {
  flex: 1 !important;
}

#ratings-on-imdb_closeBtn {
  display: none !important;
}
