:root {
  --accent: rgb(3, 37, 65);
  --background: rgb(24, 26, 27);
  --black: rgb(0, 0, 0);
  --font: "Source Sans Pro", Arial, sans-serif;
  --white: rgb(255, 255, 255);
}

#ratings-on-tmdb * {
  color: var(--white) !important;
  font-family: var(--font) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

#ratings-on-tmdb {
  background: var(--background) !important;
}

#ratings-on-tmdb .config_header {
  font-size: 20pt !important;
  line-height: 1.1 !important;
}

#ratings-on-tmdb .section_header,
#ratings-on-tmdb .section_desc {
  background-color: var(--accent) !important;
  border: 1px solid transparent !important;
  color: var(--white) !important;
}

#ratings-on-tmdb .config_var {
  align-items: center !important;
  display: flex !important;
}

#ratings-on-tmdb_field_TMDbApiKey,
#ratings-on-tmdb_field_OMDbApiKey {
  background-color: var(--white) !important;
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
  flex: 1 !important;
}

#ratings-on-tmdb input[type=checkbox] {
  appearance: none !important;
  background-color: var(--white) !important;
  border: 1px solid var(--black) !important;
  cursor: pointer !important;
  height: 15px !important;
  width: 15px !important;
}


#ratings-on-tmdb input[type=checkbox]:checked {
  appearance: checkbox !important;
  background-color: var(--accent) !important;
}

#ratings-on-tmdb input[type="button"],
#ratings-on-tmdb button {
  background: var(--white) !important;
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
}

#ratings-on-tmdb input[type="button"]:hover,
#ratings-on-tmdb button:hover {
  filter: brightness(85%) !important;
}

#ratings-on-tmdb .reset {
  margin-right: 10px !important;
}
