#ratings-on-imdb * {
  color: rgb(255, 255, 255) !important;
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

#ratings-on-imdb {
  background: rgb(18, 18, 18) !important;
}

#ratings-on-imdb .section_header,
#ratings-on-imdb .section_desc {
  background-color: rgb(226, 182, 22) !important;
  border: 1px solid transparent !important;
  color: rgb(0, 0, 0) !important;
}

#ratings-on-imdb .config_var {
  display: flex !important;
}

#ratings-on-imdb_field_OMDbApiKey {
  color: rgb(0, 0, 0) !important;
  flex: 1 !important;
}

#ratings-on-imdb input[type="button"],
#ratings-on-imdb button {
  background: rgb(255, 255, 255) !important;
  border: 1px solid transparent !important;
  color: rgb(0, 0, 0) !important;
}

#ratings-on-imdb input[type="button"]:hover,
#ratings-on-imdb button:hover {
  filter: brightness(85%) !important;
}

#ratings-on-imdb .reset {
  margin-right: 10px !important;
}
